th {
    border-bottom: 1px solid #ddd;
    font-size: 98px;
    color: red;
}

 td {
    border-bottom: 1px solid #ddd;
    font-size: 60px;
    color: green;
}

#leftTable {
    /*
    float: right;
    
    table-layout: fixed;*/
    width: 0.5%;

    display: inline-block;
    
}